body {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    font-family: 'Arial', sans-serif;
    font-size: 5rem; 
    width: 450px;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}



@media screen and (max-width: 768px) {
    .mainDiv {
        width: 80%; 
        font-size: 4rem; 
        padding: 15px; 
    }
}


@media screen and (max-width: 480px) {
    .mainDiv {
        width: 90%; 
        font-size: 3rem; 
}
}
